*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f6f8fa;
}

header{
  background-color:white;
}

h1{
  display: inline-block;
}

header img,
header h1{
  vertical-align: middle;
}

header img{
  padding: 10px 1px 10px 10px;
}
header h1{
  font-size: 3rem;
}

main{
  background-color: #f6f8fa;
}

button{
  border-radius: 5px;
  padding:5px;
  border: 0;
  text-transform: capitalize;
}

ul{
  list-style: none;
}

ul li h3{
  text-transform: capitalize;
}

.bord{
  border: 0;
}

.no-bord{
  border: 1px solid #bdbebe;
}
.container{
  margin:40px auto;
  width: 70%;
}

.to-do{
  background-color: white;
  border-radius: 10px;

}

.to-do-top{
  border-bottom: 1px solid #f6f8fa;
  padding: 15px;
}

.to-do-bottom{
  padding: 15px;

}

.to-do-bottom ul li h3::before{
  content: "\25BE";

}

.to-do-bottom ul li{
  line-height: 30px;
  margin: 11px;
}

.to-do-inner-list li::before{
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin-right: 10px;

}

.to-do-inner-list li.checked::before{
 content:"\2713" ;
 color: green;
 border: 1px solid green;

}

.to-do-inner-list li.crossed::before{
  content:"\292B";
  color: red;
  border: 1px solid red;
}

.to-do-bottom ul li::after{
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-left: 10px;

}

.to-do-bottom ul li.editorial::after{
  content: " Editorial";
  background-color: #47aae0;
}

.to-do-bottom ul li.q1-goals::after{
  content: " Q1 Goals";
  background-color: #9a74de ;
}

.to-do-bottom ul li.recruiting::after{
  content: " Recruiting";
  background-color: #5ec5a9;
}

.to-do-bottom ul li.mobile::after{
  content: " Mobile";
  background-color: #f5a034;
}

.to-do-bottom ul li.website::after{
  content: " Website";
  background-color: #da63a5;
}

.to-do-bottom ul li.sales::after{
  content: " Sales";
  background-color: #abc524;
}

.bg-blue{
  background-color: #49acf0;
}

.text-white{
  color: white;
}

.bg-white{
  background-color: white;
}

.text-gray{
  color: #bdbebe;
}